doctype html
head
    title Tersus
    block scripts
    block style
body
    header.top
        .container
            nav#navbar
                .left
                    .logo
                        img(src='../static/images/prattlogo1.png', alt='login')        
                .right 
                    ul(type="none")
                        li #[a(href="/") Home]
                        //- li #[a(href="/") About]
                        li #[a(href="/") Services]
                        //- li #[a(href="/") Products]
                        li #[a(href="/contact") Contact Us]
    block content
    block footer
        
    